* { 
    margin: 0; 
    padding: 0; 
}

:root{
    --text_color:rgb(240, 240, 240);
    --semi_black:rgba(0, 0, 0, .7);
    --border_radius:15px;
}

/* @font-face {
    font-family: Mad_Hacker;
    src: url(Mad_Hacker_Italic.otf);
} */

html,
body {
    background-color: white;
    background-image: url("background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: var(--text_color);
    height: 100%;
    margin:0;
}

#wrapper{
    display: flex;
    flex-flow: column;
    height: 100%;
}

#header {
    flex: 0 1 auto;
    /* The above is shorthand for:
    flex-grow: 0,
    flex-shrink: 1,
    flex-basis: auto
    */
    height:100px;
    font-size: 48px;
    padding: 10px;
    padding-top: 20px;
    text-align: center;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

    #header img{
        height:100px;
        margin-top: -10px;
        vertical-align: middle;
    }

#main{
    flex: 1 1 auto;
    vertical-align: middle;
}

#footer{
    flex: 0 1 auto;
    text-align: center;
    font-size: 10px;
    padding:5px;
    color: rgba(255, 255, 255, 0.5);
}
 
.question_card{
    border-collapse: collapse;
    font-family: sans-serif;
    margin:0px auto;
    width: 440px;
    height: 600px;
    border-radius: var(--border_radius);
    box-shadow: 0 0 20px rgba(0, 0, 0, .7);
}

.question_card thead{
    height: 360px;
}

    .question_card thead th{
        background-color: rgba(0, 0, 0, 0.7);
        padding:20px;
        padding-top: 15px;
        font-size: 32px;
        text-align: left;
        vertical-align: top;
        border-top-left-radius: var(--border_radius);
        border-top-right-radius: var(--border_radius);
    }

        #question_counter{
            text-align: center;
            font-size: 18px;
            padding-bottom:10px;
            padding-right: 10px;
        }

    .question_card thead td{
        height:10px;
        font-size: 1px;
        background-color: rgba(187, 0, 0, 0.9);
    }

        #progress_bar{
            background-color: rgb(0, 189, 0);
            height: 10px;
            width:60%;
            margin-bottom: 2px;
        }

.question_card tbody{
    height: 280px;
    vertical-align: top;
}

    .question_card tbody td{
        background-color: rgba(255, 255, 255, 0.9);
        padding:5px;
        padding-top:5px;
        padding-bottom:0px;
        border-bottom-left-radius: var(--border_radius);
        border-bottom-right-radius: var(--border_radius);
    }

.answer{
    background-color: rgba(70, 135, 255, 0.6);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 6px;
    margin-top:2px;
    border-radius: 10px;
    display: block;
}

.answer:hover{
    background-color: rgb(70, 135, 255);
}

.summary{
    border-collapse: separate;
    border-spacing: 10px;
    font-family: sans-serif;
    margin:0px auto;
    width: 800px;
    border-radius: var(--border_radius);
    box-shadow: 0 0 20px var(--semi_black);
    background-color: var(--semi_black);
}

    .summary thead th{
        font-size: 28px;
        /* background-color: var(--semi_black); */
        border-top-left-radius: var(--border_radius);
        border-top-right-radius: var(--border_radius);
    }

    .summary tbody td{
        padding: 8px;
        background-color: rgba(128, 128, 128, 0.8);
        border-radius: var(--border_radius);
    }

    .summary_question{
        border-bottom: 2px solid rgba(255, 255, 255, 0.8);
        font-family: Arial, Helvetica, sans-serif;
        font-size:18px;
        color:var(--text_color);
        padding-bottom:3px;
    }

    .summary_answer{
        background-color:rgba(207, 207, 207, 0.8);
        padding:5px;
        margin-top:5px;
        border-radius: 10px;
        color:black;
    }

        .summary_provided{
            background-color: rgb(255, 238, 0);
        }

        .summary_correct{
            background-color: rgb(0, 187, 0);
            font-weight: bold;
        }

.start_screen{
    border-collapse: collapse;
    font-family: sans-serif;
    margin:0px auto;
    width: 800px;
    border-radius: var(--border_radius);
    box-shadow: 0 0 20px var(--semi_black);
    background-color: var(--semi_black);
}

    .start_screen thead th{
        font-size: 28px;
        padding:15px;
        padding-bottom: 10px;
        border-top-left-radius: var(--border_radius);
        border-top-right-radius: var(--border_radius);
    }

    .start_screen tbody td{
        padding:5px;
        padding-top: 0;
    }

    .start_screen_text{
        background-color:rgba(158, 192, 255, 0.8);
        font-size: 18px;
        text-align: center;
        padding:10px;
        margin-top:5px;
        border-radius: 10px;
        color:black;
    }

    input.largercheckbox{
        width:30px;
        height:30px;
        vertical-align: middle;
    }

    button.startbutton{
        font-size:18px;
        padding:4px 20px;
        border-radius: 10px;
    }

    button.startbutton:hover{
        background-color: rgba(60, 151, 255, 0.88);
    }